body {
  background-color: #111;
}

/* HERO */
.hero-section {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url("https://via.placeholder.com/1200x600");
  background-size: cover;
}

/* HOVER EFFECT */
.movie-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}